@import "variables";


* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: $link;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $linkHover;
      text-decoration: underline;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    position: relative;

    li {
      list-style: none;
    }
  }
  .btn {
    padding: 0 20px;
    display: inline-block;
    line-height: 38px;
    height: 40px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: ease-in .15s;

    &.btn-primary {
      background-color: $link;
      color: $white;
      border-color: $link;

      &.outline {
        background-color: $white;
        color: $link;
        &:hover,
        &:focus{
          background-color: $white;
          color: $linkHover;
          border-color: $linkHover;
        }
        &.active {
          background-color: $white;
          color: $linkHover;
          border-color: $linkHover;
          &:hover {
            opacity: .85;
          }
        }
      }

      &:hover,
      &:focus,
      &.active{
        background-color: $linkHover;
        border-color: $linkHover;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }

      &.active {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        &:hover {
          opacity: .85;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
        }
      }
    }
  }
  .hr {
    height: 1px;
    margin: 10px 0;
    background: $gray;
    width: 100%;
  }
  .error {
    color: red;
  }
  sup {
    margin-right:3px;
  }
}
.container {
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
  display: block;
}
.dropdown {
  position: absolute !important;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid $gray;
  border-top: none;
  box-shadow: 0 2px 5px $shadow;
  display: block;
  min-width: 250px;
  max-width: 250px;
  background-color: $white;
  &:before {
    content: "";
    position: absolute;
    top: -18px;
    left: 19px;
    border-style: solid;
    border-width: 9px 7px;
    border-color: transparent transparent $gray;
  }
  &:after {
    content: "";
    position: absolute;
    top: -16px;
    left: 20px;
    border-style: solid;
    border-width: 8px 6px;
    border-color: transparent transparent #fff;
  }
  &.right {
    right: 0;
    &:before {
      left: auto;
      right: 19px;
    }
    &:after {
      left: auto;
      right: 20px;
    }
  }
  li {
    border-bottom: 1px solid $gray;
    display: block;
    width: 100%;
    margin:0;
    padding: 0px !important;
    a {
      line-height: 1;
      display: block;
      width: 100%;
      text-decoration: none;
      padding: 14px 10px;

      &:hover,
      &:focus {

      }
    }
    &:first-child {
      a {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
      }
    }
    &:last-child {
      border-bottom: none;
      a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
.page {
  padding-top: 68px;
}
