@import "variables";
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1 Arial, sans-serif;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $linkHover;
      text-decoration: underline;
    }
  }
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}
.dropdown {
  position: absolute !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 2px $shadow;
  display: block;
  width: 320px;
  background-color: $white;

  li {
    border-bottom: 1px solid $gray;
    display: block;
    width: 100%;
    margin:0;
    padding: 0px !important;
    a {
      line-height: 1;
      display: block;
      width: 100%;
      text-decoration: none;
      padding: 14px 10px;

      &:hover,
      &:focus {
        background-color: $gray;
      }
    }
    &:first-child {
      a {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
      }
    }
    &:last-child {
      border-bottom: none;
      a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
.menu {
  display: inline-block;
  width: 100%;

  &__left {
    display: block;
    float: left;
    .menu__left-logo {
      display: block;
      float: left;

      a {
        font-size: 24px;
        line-height: 24px;
        margin-right: 20px;
      }
    }
    .menu__left-nav {
      display: block;
      float: left;

      ul {
        position: relative;
        display: inline-block;
        float: left;


        li {
          margin-right: 10px;
          float: left;
          line-height:32px;
          &:last-child {
            margin-right:0;
          }
          ul {
            display: none;
          }
          &:hover,
          &:focus {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }

  &__right {
    display: block;
    float: right;

    .menu__right-user {
      display: inline-block;
      float: right;

      li {
        float: left;
        margin-right: 10px;
        line-height:32px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}