.login {
  display: block;
  padding: 10px 0 ;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  border: 1px solid $gray0;
  box-shadow: 0 1px 2px $shadow;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  .component-fade-enter-active {
    transition: all .3s ease;
  }
  .component-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .component-fade-enter,
  .component-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  .sign-in,
  .sign-up {
    display: none;

    &:checked + .tab {
      background-color: $linkHover;
      color: $white;
      padding: 5px 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }

  .tab {
    font-size: 16px;
    margin: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
  }
  .sign-in-form,
  .sign-up-form,
  .sign-reset-form {
    padding: 10px 20px;

    .input-group {
      margin-bottom:15px;
      .label {
        display: block;
        width: 100%;
        color: $link;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          color: $linkHover;
        }

      }
      .input {
        display: block;
        width: 100%;
        color: $black;
        border: 1px solid $gray;
        padding: 15px 20px;
        background-color: $gray0;
        font-size: 16px;

        &[data-type="password"] {
          -webkit-text-security: circle;
          -moz-text-security: circle;
          text-security: circle;
        }
        &:focus {
          outline: none;
          border-color: $link;
          background-color: $white;

          &.input-group .label {
            color: $linkHover;
          }
        }
      }
    }
    span {
      display: block;
      font-size: 12px;
      line-height: 1.25;
      color: $gray1;
      margin-bottom: 20px;
    }
    .footer-link {
      text-align: center;

      a, label {
        display: block;
        cursor: pointer;
        color: $linkHover !important;
        text-decoration: none;
        padding-top: 10px;

        &:hover {
          text-decoration: underline !important;
        }
      }
    }
    button {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}